@import '/src/scss/abstracts/_mixins.scss';
@import '/src/scss/abstracts/_variables.scss';

nav.cont-menu {
    display: flex;
    width: calc( 100% - 320px);
    padding: 1.3rem 2rem 1.5rem;
    position: fixed;
    top: 0;
    right: 0;
    background: #1c1b1b;
    justify-content: end;
    z-index: 999;
    box-shadow: 0px 10px 0 0 #0000008f;

    @include md{
        width: calc( 100% - 270px);
    }

    @include sm{
        width: 100%;
        justify-content: space-between;
        padding: 1rem 2rem 1rem;
        gap: 1rem;
    }

    // &:before {
    //     width: 20px;
    //     height: 20px;
    //     display: flex;
    //     content: '';
    //     position: absolute;
    //     /* background: radial-gradient(circle at 20px 20px, transparent 20px, #daf0f7 0px); */
    //     left: 0;
    //     bottom: -20px;
    // }



    .list-menu {
        display: flex;
        gap: 1rem;
        align-items: center;

        @include xs{
            flex-direction: column;
            position: fixed;
            background: #0b0b0b;
            padding: 1rem 2rem;
            right: 0;
            top: 0;
            height: 100vh;
            align-items: flex-start;
            transform: translate3d(250vw, 0, 0);
            width: 250px;
            transition: all 0.3s;
            justify-content: center;

            

            &.open{
                transform: translate3d(0vw, 0, 0);
            }
        }

        .btn-close{
            display: none;

            @include xs{
                color: $gris10;
                display: block;
                position: absolute;
                top: 1.3rem;
                right: 1.3rem;
                font-size: 1.6rem;

            }
        }

        .list {
            text-transform: uppercase;
            @include xs{
                padding: 0.4rem 0;
            }

           a {
                font-weight: 600;
                color: $gris10;
                cursor: pointer;
                transition: all 0.3s;
                font-family: 'RobotoSlab';

                @include sm{
                    white-space: nowrap;
                    font-size: 0.9rem;
                }

                @include xs{
                    font-size: 1rem;
                }
                
                &.active{
                    color: #0d6081;
                }

                &:hover{
                    color: #0d6081;
                }
            }
        }
    }

    .logotipo{
        display: none;

        @include sm{
            display: inline-flex;
            width: clamp(90px, 100%, 150px);
            img {
                width: 100%;
            }
        }
    }

    .btn-menu {
        display: none;

        @include xs{
            display: flex;
            align-items: center;
            color: $gris10;
            font-size: 1.5rem;
        }
        
    }
}