.aside-cv {
    display: flex;
    flex: 1;
    padding: 3rem 1.5rem 0;
    flex-direction: column;
    overflow: auto;

    .use-avatar {
        display: flex;
        justify-content: center;
        padding: 0 0 1rem;
    }
    
    .logotipo {
        padding: 0 0 2rem;
    }
    .cont-data{
        .data a {
            color: #bbbaba;
            text-decoration: none;
            font-size: 0.9rem;
            font-weight: 500;
            transition: all 0.3s;

            &:hover {
                color: #1389b7;
            }
        }
    }
}