.aside-cv {
    display: flex;
    flex: 1;
    padding: 3rem 1.5rem 0;
    flex-direction: column;

    .use-avatar {
        display: flex;
        justify-content: center;
        padding: 0 0 1rem;
    }
    
    .logotipo {
        padding: 0 0 2rem;
    }
}