h1.ti-principal {
    font-size: 3rem;
    padding: 2rem 0 3rem;
    font-weight: 900;
    color: $cian;
    text-transform: uppercase;
    font-family: 'RobotoSlab';

    @include xs{
        font-size: 2rem;
    }
}

h2.ti-second {
    font-size: 2rem;
    padding: 2rem 0 3rem;
    font-weight: 900;
    color: $gris10;
    text-transform: uppercase;
    font-family: 'RobotoSlab';
    @include xs{
        font-size: 1.8ßrem;
    }
}