h1.ti-principal {
    font-size: 3rem;
    padding: 2rem 0 3rem;
    font-weight: 900;
    color: #1488b8;
    text-transform: uppercase;
    font-family: 'RobotoSlab';
}

h2.ti-second {
    font-size: 2rem;
    padding: 2rem 0 3rem;
    font-weight: 900;
    color: #bbbaba;
    text-transform: uppercase;
    font-family: 'RobotoSlab';
}