//color
$primary: #333;
$second: #777;

$fontOpen: OpenSans;
    $listOpen:(
        'Light' 300 normal,
        'LightItalic' 300 italic,
        'Regular' 400 normal,
        'Italic' 400 italic,
        'Medium' 500 normal,
        'MediumItalic' 500 italic,
        'SemiBold' 600 normal,
        'SemiBolditalic' 600 italic,
        'Bold' 700 normal,
        'Bolditalic' 700 italic,
        'ExtraBold' 800 normal,
        'ExtraBolditalic' 800 italic,
    );
