.container {
    display: flex;
    //height: 100vh;
    justify-content: end;
    background: url(/src/assets/fondo.jpg) no-repeat center center fixed;
    background-size: cover;
    flex-direction: column;
    align-items: end;

    .left {
        display: flex;
        flex: 1;
        width: 320px;
        background: #1c1b1b;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;

        @include md{
            width: 270px;
        }

        @include sm{
            display: none;
        }

      

        .cont-data {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .data {
                gap: 1rem;
                display: flex;
                padding: 0 0 1rem;
                color: $gris10;
                border-bottom: 1px solid #333131;
    
                p {
                    font-size: .9rem;
                    font-weight: 500;
                }
            }
        }
    
    }
    
    .right {
        //display: flex;
        width: calc(100% - 320px);
        padding: 7rem 1.5rem 1.5rem;

        @include md{
            width: calc(100% - 270px);
        }

        @include sm{
            width: 100%;
        }

        @include xs{
            padding: 7rem 1rem 1.5rem;
        }

        
    }

    .cont-foot {
        width: calc(100% - 320px);

        @include md{
            width: calc(100% - 270px);
        }

        @include sm{
            width: 100%;
        }
    }
    
    
}

