@import '/src/scss/abstracts/_mixins.scss';
@import '/src/scss/abstracts/_variables.scss';

.list-skill {
    background: #000;
    padding: 1rem;
    border-radius: 0.3rem;

    .ti-list {
        color: $cian;
        padding: 0 0 1rem;
    }

    .list {
        font-size: 1rem;
        color: $gris10;
        padding: 0.4rem 0.6rem;
        font-style: italic;
    }
}
