@import '/src/scss/abstracts/_mixins.scss';

.Home-sec{

    .cont-sec {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 1rem;

        @include md{
            grid-template-columns: 1fr;
        }
    }
    .perfil{
        display: none;

        @include xs{
            display: flex;
        }
    }

    .img-portada {
        display: flex;
        justify-content: center;
        margin: 0 0 2rem;
        align-items: center;

        @include xs{
            display: none;
        }

        @include md{
            align-items:flex-start; 
        }
        
        img {
            width: min(100%, 380px);
            animation: imgPortada 10s linear 0s infinite normal forwards ;
        }
    }

}



@keyframes imgPortada {
	0%,100% {
		transform: translateY(0);
	}

	10%,30%,50%,70% {
		transform: translateY(-8px);
	}

	20%,40%,60% {
		transform: translateY(8px);
	}

	80% {
		transform: translateY(6.4px);
	}
}